<script>
    function buttonpressed(t){
//        $(t).find('.btn').toggleClass('active');
        $(t).find('.btn-def1').toggleClass('active1');
        $(t).find('.btn-def1').toggleClass('active');



        if ($(t).find('.btn-primary').size()>0) {
            $(t).find('.btn').toggleClass('btn-primary');
        }
        if ($(this).find('.btn-danger').size()>0) {
            $(this).find('.btn').toggleClass('btn-danger');
        }
        if ($(this).find('.btn-success').size()>0) {
            $(this).find('.btn').toggleClass('btn-success');
        }
        if ($(this).find('.btn-info').size()>0) {
            $(this).find('.btn').toggleClass('btn-info');
        }

        $(t).find('.btn').toggleClass('btn-default');

    }
    function moveUp(item) {
        var prev = item.prev();
        if (prev.length == 0)
            return false;
        while(!prev[0].id){
            prev = prev.prev();
        }
        item.insertBefore(prev);
        return true;
    }

    function moveDown(item) {
        var next = item.next();
        while(!next[0].id){
            next = next.next();
        }
        if (next.length == 0)
            return false;
        item.insertAfter(next);
        return true;
    }

    function clicked(t,i){
        var btn = $(t);
        var val = i;
        if (val == 1) {
            moveUp(btn.parents('.form-group'));
        }
        else {
            moveDown(btn.parents('.form-group'));
        }
    }
    function getseq() {
        var a = "";
        $('.form-group').each(function (i, obj) {
            a = a + obj.id.substr(1) + ",";
        });
        a = a.slice(0,-1);
        $('#seq').val(a);
        return true;
    }
</script>
<style>
    .active1 {
        background-color: #3276b1 !important;
    }
</style>
<div class="menu" ng-show="menuStatus">

    <div ng-repeat="sectionItem in menuItems">
        <div class="panel-group" id="accordion">
            <div class="panel" style="background:inherit;">
                <div class="menuitem menu-section-header">
                    <div class="panel-title">
                        <div class="menu-text-head" data-toggle="collapse" data-parent="#accordion" href="#{{$index}}">
                            {{sectionItem}}<img src="/assets/images/down_arrow_icn.png" style="width:12px;height:12px;padding-left:6px"></div></div></div>
                <div id="{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="menuitem" ng-repeat="item in qlist[sectionItem]" style="border-bottom: solid rgb(207, 207, 207) 1px"><div class="menu-text1" style="margin-top:5px;margin-bottom: 5px;color:#4F6567 !important;">{{item.question}}</div>

                            <div class="btn-group btn-toggle onoffbtnPosition" onclick="buttonpressed(this);">
                                <button ng-if="defvalue[item.id] != true" class="btn btn-xs btn-default onbtn" ng-click="getScoreData(boolval[item.id],item.id,sectionItem)">on</button>
                                <button ng-if="defvalue[item.id] != true" class="btn btn-xs btn-primary active offbtn" ng-click="getScoreData(boolval[item.id],item.id,sectionItem)">off</button>
                                <button ng-if="defvalue[item.id] == true" class="btn btn-xs active btn-primary onbtn " ng-click="getScoreData(boolval[item.id],item.id,sectionItem)" >on</button>
                                <button ng-if="defvalue[item.id] == true" class="btn btn-xs btn-default offbtn" ng-click="getScoreData(boolval[item.id],item.id,sectionItem)">off</button>
                            </div>


                            <div class="btn-group  btn-toggle trackbtnPosition">
                                <button ng-class="{'active1 active':!boolval1[item.id] && !boolval[item.id]}" class="btn  btn-xs btn-default btn-def1 trackbtn" ng-click="getScoreData1(boolval1[item.id],item.id,sectionItem)" style="color:white;">track</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <form style="display:none;" id="delsubmit" action="/deleteform" method="POST">
        <input style="display:none;" type="submit">
    </form>
    <form action="/forms" method="POST">
        <div class="panel pnlWidth panel-default bg-white">
            <div class="panel-heading" style="overflow:hidden;">
                <h3 class="panel-title" style="display:inline;">
                    Name : </h3><input type="text" class="form-control" style="width:50% !important;display:inline" name="form_name" value="{{formname}}" required>
                <input type="hidden" name="prog_name" value="{{progName}}">
                <input type="hidden" name="form_cat_name" value="{{catName}}">

                <!--<div class="btn-group bootstrap-select ng-pristine ng-valid">-->
                <!--<button type="button" style="border-radius:19px;" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Jennifer">-->
                <!--<span class="filter-option pull-left">PROGRAM</span>-->
                <!--</button>-->
                <div style="float:right">
                <a class="btn button" target="_self" href="/deleteform/{{formid}}" style="border-radius:19px;width:90px;color:#fff;background-color:#A2A9AA;">Delete</a>
                <div class="btn-group bootstrap-select ng-pristine ng-valid fc-white"style="width:90px;">
                    <button class="btn dropdwon-toggle selectpicker btnhover " style="float:right;padding-top:4%">Cancel</button>
                </div>
                    <div class="btn-group bootstrap-select ng-pristine ng-valid fc-white" style="width:90px">
                    <button type="submit" onclick="getseq()" class="btn btnhover" style="padding-top:4%">Submit</button>
            </div></div>
            </div><!-- --end panel heading --->
            <div class="formPanelBody">
                <div ng-repeat="qcat in menuItems" id="{{qcat}}" style="min-height:13vh;">
                    <div class="questionHeading">
                        <span class="helv-thin fc-darkblue" style="font-size:30px;">{{qcat}}</span>
                    </div>
                </div>
            </div>
        </div>
        <input name="form_id" type="hidden" value='{{formid}}'>
        <input name="formjson" type="hidden" value='{{resjson}}'>
        <input name="seq" type="hidden" id="seq">

    </form>
</div>
